<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title>Draw A Number</title>
</head>
<body onload="init()">
    <input type="button" value="clear" onclick="erase()">  
    <br>
    <canvas id="predictionCanvas" width="28" height="28" style="border:1px solid #000000;"></canvas>
    <br>
    <input type="button" value="save" onclick="saveImage()">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>   
<script type="text/javascript">
//not an option messed with canvas
//zoom into the canvas to draw the figure in correct pixel format
//document.body.style.zoom="500%";
context = document.getElementById('predictionCanvas').getContext("2d");
//adapted from = https://stackoverflow.com/questions/2368784/draw-on-html5-canvas-using-a-mouse
//adtaped from = https://stackoverflow.com/questions/18796921/passing-javascript-array-to-flask
//variables
var canvas, ctx, flag = false, prevX = 0, currX = 0, prevY = 0, currY = 0, dot_flag = false;
        var x = "black",
        y = 2;
  //get the canvas and add the events
        function init() {
        canvas = document.getElementById('predictionCanvas');
        ctx = canvas.getContext("2d");
        w = canvas.width;
        h = canvas.height;
        canvas.addEventListener("mousemove", function (e) {
            findxy('move', e)
        }, false);
        canvas.addEventListener("mousedown", function (e) {
            findxy('down', e)
        }, false);
        canvas.addEventListener("mouseup", function (e) {
            findxy('up', e)
        }, false);
        canvas.addEventListener("mouseout", function (e) {
            findxy('out', e)
        }, false);
    }
    function erase()
    {
        console.log("clear func");
        ctx.clearRect(0, 0, 100, 100);
    }
    function saveImage() {
      console.log("save func");
      //cowboy stuff
      //save pixel Image to an array
      var pythonArray = [];
      var pixelData = ctx.getImageData(0, 0, h, w);
      //convert all pixels to a single value
      //from 4 values per pixel to one
      for(var i = 0; i<pixelData.data.length-1;i+=4)
      {
        var pixel = pixelData.data[i]+pixelData.data[i+1]+pixelData.data[i+2]+pixelData.data[i+3];
        pythonArray.push(pixel);
      }
        //testing.. print image of digit to console
        //console.log(pythonArray.length);
        //testing
        //for(var j = 0; j<=pythonArray.length-28; j=j+28)
        //{
        //console.log(pythonArray[j]+""+pythonArray[j+1]+pythonArray[j+2]+pythonArray[j+3]+pythonArray[j+4]+pythonArray[j+5]+pythonArray[j+6]+pythonArray[j+7]+pythonArray[j+8]+pythonArray[j+9]+pythonArray[j+10]+pythonArray[j+11]
        //          +pythonArray[j+12]+pythonArray[j+13]+pythonArray[j+14]+pythonArray[j+15]+pythonArray[j+16]+pythonArray[j+17]+pythonArray[j+18]+pythonArray[j+19]+pythonArray[j+20]+pythonArray[j+22]+pythonArray[j+23]
        //          +pythonArray[j+24]+pythonArray[j+25]+pythonArray[j+26]+pythonArray[j+27]+"\n");
        //}
            //not necessary for the moment I think
            //makes a get request to the server
            //this was requesting the information on the webpage - no need
            //$.get(
            //url="http://localhost:5000/drawNumber",
            //data={image:pythonArray}, 
            //success=function(data)
            //{
                //alert('page content: ' + data);
            //});

            //make a post request to the server
            //Turn the array into a Json object.. and send an xmlhttprequest to the server
            //var jsonArray = JSON.stringify(pythonArray);
            //console.log(jsonArray);
            //send the request
            var xhr = new XMLHttpRequest();
                //if deployed properly then add server IP here
                xhr.open("POST", "makePrediction", true);
                xhr.setRequestHeader('Content-Type', 'application/json');
                //should now send the JSON object array to the web server 
                //which we can handle in webApp.py with our python code
                xhr.send(JSON.stringify({'pixelArray': pythonArray}));
    }   
    function draw() {
        ctx.beginPath();
        ctx.moveTo(prevX, prevY);
        ctx.lineTo(currX, currY);
        ctx.strokeStyle = x;
        ctx.lineWidth = y;
        ctx.stroke();
        ctx.closePath();
    }
    function findxy(res, e) 
    {
        if (res == 'down') {
            prevX = currX;
            prevY = currY;
            currX = e.clientX - canvas.offsetLeft;
            currY = e.clientY - canvas.offsetTop;
    
            flag = true;
            dot_flag = true;
            if (dot_flag) {
                ctx.beginPath();
                ctx.fillStyle = x;
                ctx.fillRect(currX, currY, 2, 2);
                ctx.closePath();
                dot_flag = false;
            }
        }
        if (res == 'up' || res == "out") {
            flag = false;
        }
        if (res == 'move') {
            if (flag) {
                prevX = currX;
                prevY = currY;
                currX = e.clientX - canvas.offsetLeft;
                currY = e.clientY - canvas.offsetTop;
                draw();
            }
        }
    }
</script>
</body>
</html>