<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'formatting.css')}}"></link>
  <meta charset="utf-8">
  <title>Draw A Number</title>
</head>
<body onload="init()">
    <div class ="zoom">
    <canvas id="predictionCanvas" width="28" height="28" style="border:1px solid #000000;"></canvas>
    </div>
    <br>
    <input type="button" value="predict" onclick="saveImage()">
    <br>
    <span id=result>prediction</span>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/formatImage.js"></script>
</body>
</html>